/* -- Variables -- */
:root {
  --font-primary: "Open Sans", sans-serif;
  --min-width: 320px;
  --color-gray: #f1f5f8;
  --color-blue: #49a6e9;
  --color-dark-blue: #247cb6;
  --color-blue-alternative: #6ebef7;
  --color-black: #324d67;
  --color-white: #ffffff;
  --color-gray: #f1f5f8;
  --color-dark-red: #bb2525;
  --shadow: 1px 1px 5px #a7a6a6;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 62.5%;
}
body {
  background-color: var(--color-gray);
  min-width: 320px;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.menu {
  margin-right: 35px;
  margin-top: 15px;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  animation: latido 1s linear alternate infinite;
}

.menu i {
  font-size: 3rem;
  color: var(--color-dark-blue);
}

.nav__title {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
  padding-left: 15px;
}

.nav__title h2,
.nav__title h2 span {
  font-size: 2.4rem;
  letter-spacing: 0.2rem;
  color: #000;
}
.nav__title h2 span {
  color: var(--color-blue);
}

.close {
  margin-right: 10px;
  border: none;
  outline: none;
  background-color: transparent;
  cursor: pointer;
}

.close i {
  font-size: 2.6rem;
  color: var(--color-dark-red);
}

.close:hover {
  transition: 0.3s linear;
  transform: rotate(360deg);
}
.nav {
  position: absolute;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-direction: column;
  background-color: #ffffff;
  display: none;
}
.nav__wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.nav__list {
  margin-top: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.nav__list li {
  height: auto;
  width: 100%;
}

.nav__list li a {
  width: 100%;
  height: auto;
  display: block;
  padding: 20px 15px;
  font-size: 2.4rem;
  color: var(--color-black);
}

.nav__list li a:hover {
  background-color: var(--color-blue-alternative);
  padding-left: 30px;
  transition: 0.5s linear;
}

.nav__list--social {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  bottom: 20px;
}

.nav__list--social li a {
  color: var(--color-blue);
  font-size: 3.5rem;
  margin: 0 10px;
}

.nav__list--social li a i:hover {
  color: var(--color-black);
  transition: 0.7s linear;
}

.is-active {
  display: flex;
  animation: animationIn 0.4s linear;
}

/* -- Animaciones --*/
@keyframes animationIn {
  0% {
    left: -700px;
  }
  100% {
    left: 0px;
  }
}
@keyframes animationOut {
  0% {
    left: 0px;
  }

  100% {
    left: -700px;
  }
}

@keyframes latido {
  0% {
    transform: scale(0.8);
  }
  100% {
    transform: scale(1.2);
  }
}

@media screen and (min-width: 678px) {
  .nav {
    transition: all 0.4s linear;
    max-width: 400px;
  }
}
