/* -- Variables -- */

:root {
  --color-body: #27316f;
  --color-blue: #0c102e;
  --color-input: #4e4868;
  --color-gray: #9795a0;
  --color-white: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body {
  background-color: var(--color-body);
}
.header {
  min-width: 449px;
  max-width: 1024px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.header__title {
  margin: 20px 0;
  font-size: 2rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  color: var(--color-white);
}

.main {
  min-width: 449px;
  max-width: 1024px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  margin-left: 20px;
}

.container {
  min-width: 320px;
  padding-left: 10px;
  padding-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--color-blue);
  border-radius: 8px;
}

.container__input {
  width: 70%;
  height: auto;
  margin-top: 30px;
}

input {
  width: 100%;
  height: 35px;
  padding-left: 6px;
  background-color: var(--color-input);
  outline: none;
  border: none;
  border-radius: 3px;
  font-size: 1.8rem;
  color: var(--color-white);
}

.container__buttons {
  width: 80%;
  height: auto;
  display: grid;
  grid-template: repeat(4, 50px) / repeat(4, 25%);
  grid-gap: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn {
  width: 45px;
  height: 45px;
  border-radius: 50%;
  font-size: 2rem;
  border-color: transparent;
  outline: none;
  background-color: var(--color-blue);
  color: var(--color-gray);
  box-shadow: 0px -2px 5px teal;
  cursor: pointer;
  transition: 0.2s;
}

.btn:active {
  transform: scale(0.8);
}

@media screen and (min-width: 810px) {
  .container {
    padding: 0;
  }
  main {
    margin: 0;
    padding: 0;
  }

  .header__title {
    margin: 15px 0;
  }
}
