* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: sans-serif;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  min-width: 340px;
  height: 100vh;
}

.header {
  width: 100%;
  min-width: 340px;
  height: 30px;
  background-color: #e7e7e7;
}

.header__nav {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 2px #a7a6a6;
}

.header__nav--list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header__nav--list li a {
  font-size: 1.6rem;
  text-decoration: none;
  color: #559fca;
}

.header__nav--list li a:hover {
  color: #348fc4;
}

.main {
  width: 100%;
  height: 100%;
  min-width: 340px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container {
  width: 100%;
  height: auto;
  min-width: 340px;
  display: grid;
  align-items: center;
  justify-content: center;
}

.container__color {
  min-width: 260px;
  margin: 0 30px;
  height: 58px;
  display: flex;
  align-items: center;
  margin: 25px;
  background-color: black;
  border-radius: 3px;
}

.container__color h2 {
  position: relative;
  padding-left: 7px;
  font-size: 1.6rem;
  color: white;
}

.container__color--hex {
  font-size: 1.6rem;
  color: #559fca;
  text-transform: uppercase;
  cursor: pointer;
}

.copy p {
  position: absolute;
  top: -15px;
  right: -25px;
  font-size: 1.1rem;
  color: red;
  transition: 1s ease-in;
  display: none;
}

.btn-change-color {
  height: 28px;
  width: 80px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.4rem;
  outline: none;
  border: none;
  border: 1px solid black;
  border-radius: 3px;
  background-color: transparent;
  transition: 0.1s ease-in-out;
}

.btn-change-color:active {
  transform: scale(0.9);
}
