/*-- Variables -- */

:root {
  --font-primary: "Roboto", sans-serif;
  --font-secundary: "Open Sans", sans-serif;
  --font-size-bg: 3.2rem;
  --font-size-xs: 2.4rem;
  --font-size-title: 2rem;
  --color-primary: #063251;
  --color-primary: #ff0000;
  --color-hover: #398ab9;
  --color-white: #ffffff;
  --color-bg: #f1f5f8;
  --color-black: #222222;
  --min-width: 320px;
  --max-width-md: 450px;
  --max-width-lg: 600px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 62.5%;
  font-family: var(--font-primary);
}

.flex--style {
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  flex-direction: column;
  width: 100%;
  min-width: var(--min-width);
  height: 100vh;
  background-color: var(--color-bg);
}

.header {
  width: 100%;
  height: 48px;
  background-color: var(--color-white);
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.header__nav {
  width: 100%;
  height: 100%;
  box-shadow: 0px 1px 2px (var(--color-white));
}

.header__nav--list {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.header__nav--list li a {
  font-family: var(--font-primary);
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.3rem;
  text-decoration: none;
  text-transform: capitalize;
  color: var(--color-primary);
}

.header__nav--list li a:hover {
  color: var(--color-hover);
}

.main {
  width: 100%;
  height: 100%;
}

.container {
  width: 100%;
  height: auto;
  flex-direction: column;
}

.container__color {
  width: 100%;
  max-width: var(--max-width-md);
  height: 80px;
  margin-bottom: 25px;
  background-color: var(--color-black);
  border-radius: 10px;
}

.container__color h2 {
  position: relative;
  padding-left: 7px;
  font-size: var(--font-size-xs);
  text-align: center;
  color: white;
}

.container__color--hex {
  font-size: var(--font-size-xs);
  color: #559fca;
  text-transform: uppercase;
  cursor: pointer;
}

.copy p {
  position: absolute;
  top: -16px;
  right: 7px;
  font-size: 1.2rem;
  color: var(--color-red);
  letter-spacing: 0.2rem;
  animation: latido 1s infinite alternate;
  display: none;
}

.btn-change-color {
  height: 47px;
  width: 165px;
  margin: 0 auto;
  text-align: center;
  outline: none;
  border: none;
  border: 2px solid var(--color-black);
  border-radius: 4px;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  background-color: transparent;
}

.btn-change-color:hover {
  background-color: var(--color-black);
  color: var(--color-white);
  transition: 0.4s ease-in-out;
}
.btn-change-color:active {
  transform: scale(0.9);
  transition: 0.4s ease-in-out;
}

/* -- Animaciones -- */

@keyframes latido {
  0% {
    transform: scale(0.8);
  }

  100% {
    transform: scale(1);
  }
}

/* -- Media Querys -- */

@media screen and (min-width: 800px) {
  .header {
    height: 55px;
  }
  .header__nav--list li a {
    font-size: var(--font-size-title);
  }
  .container__color {
    max-width: var(--max-width-lg);
  }
  .container__color h2,
  .container__color--hex {
    font-size: var(--font-size-bg);
  }
}
